body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ebf2ff;
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.btn {
  background: #2d2d2d;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #000;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.save-btn {
  width: 100%;
  max-width: 200px;
}

