.task-form {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1; 
}

.btn-wrapper {
  margin-top: 15px;
}

.save-btn {
  width: 100%; 
  padding: 22px 0 !important; 
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px; 
}

h2 {
  margin-bottom: 20px;
  font-weight: 800;
  color: #1a1a1a;
}


::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
  border-radius: 4px; 
}


::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-color: white; 
}

